/* $Header: /cvs/cvs_archive/applications/webtier/webappjs/infor/css/base/inforRadioButton.css,v 1.1.2.5.2.2 2014/01/10 14:29:53 brentd Exp $ */
/* $NoKeywords: $
 * LaVersion=8-)@(#)@10.00.05.00.12 Mon Mar 31 10:17:31 Central Daylight Time 2014 */
/***************************************************************
 *                                                             *
 *                           NOTICE                            *
 *                                                             *
 *   THIS SOFTWARE IS THE PROPERTY OF AND CONTAINS             *
 *   CONFIDENTIAL INFORMATION OF INFOR AND/OR ITS              *
 *   AFFILIATES OR SUBSIDIARIES AND SHALL NOT BE DISCLOSED     *
 *   WITHOUT PRIOR WRITTEN PERMISSION. LICENSED CUSTOMERS MAY  *
 *   COPY AND ADAPT THIS SOFTWARE FOR THEIR OWN USE IN         *
 *   ACCORDANCE WITH THE TERMS OF THEIR SOFTWARE LICENSE       *
 *   AGREEMENT. ALL OTHER RIGHTS RESERVED.                     *
 *                                                             *
 *   (c) COPYRIGHT 2014 INFOR.  ALL RIGHTS RESERVED.           *
 *   THE WORD AND DESIGN MARKS SET FORTH HEREIN ARE            *
 *   TRADEMARKS AND/OR REGISTERED TRADEMARKS OF INFOR          *
 *   AND/OR ITS AFFILIATES AND SUBSIDIARIES. ALL               *
 *   RIGHTS RESERVED.  ALL OTHER TRADEMARKS LISTED HEREIN ARE  *
 *   THE PROPERTY OF THEIR RESPECTIVE OWNERS.                  *
 *                                                             *
 ***************************************************************/
.inforRadioButtonOn
{
  border : none;
  background : transparent url("../../images/btn_radio-on_enabled.png") no-repeat 8px 0px;
  font-family : Arial;
  font-weight : normal;
  font-size : 11px;
  color : #000000;
  height : 14px;
  width : 27px;
  vertical-align : middle;
  display : -moz-inline-stack;
  display : inline-block;
}
.inforRadioButtonOnOver
{
  border : none;
  background : transparent url("../../images/btn_radio-on_over.png") no-repeat 8px 0px;
  font-family : Arial;
  font-weight : normal;
  font-size : 11px;
  color : #000000;
  height : 14px;
  width : 27px;
  vertical-align : middle;
  display : -moz-inline-stack;
  display : inline-block;
}
.inforRadioButtonOnActive
{
  border : none;
  background : transparent url("../../images/btn_radio-on_press.png") no-repeat 8px 0px;
  font-family : Arial;
  font-weight : normal;
  font-size : 11px;
  color : #000000;
  height : 14px;
  width : 27px;
  vertical-align : middle;
  display : -moz-inline-stack;
  display : inline-block;
}
.inforRadioButtonOnDisabled
{
  border : none;
  background : transparent url("../../images/btn_radio-on_disabled.png") no-repeat 8px 0px;
  font-family : Arial;
  font-weight : normal;
  font-size : 11px;
  color : #000000;
  height : 14px;
  width : 27px;
  vertical-align : middle;
  display : -moz-inline-stack;
  display : inline-block;
}
.inforRadioButtonOff
{
  border : none;
  background : transparent url("../../images/btn_radio-off_enabled.png") no-repeat 8px 0px;
  font-family : Arial;
  font-weight : normal;
  font-size : 11px;
  color : #000000;
  height : 14px;
  width : 27px;
  vertical-align : middle;
  display : -moz-inline-stack;
  display : inline-block;
}
.inforRadioButtonOffOver
{
  border : none;
  background : transparent url("../../images/btn_radio-off_over.png") no-repeat 8px 0px;
  font-family : Arial;
  font-weight : normal;
  font-size : 11px;
  color : #000000;
  height : 14px;
  width : 27px;
  vertical-align : middle;
  display : -moz-inline-stack;
  display : inline-block;
}
.inforRadioButtonOffActive
{
  border : none;
  background : transparent url("../../images/btn_radio-off_press.png") no-repeat 8px 0px;
  font-family : Arial;
  font-weight : normal;
  font-size : 11px;
  color : #000000;
  height : 14px;
  width : 27px;
  vertical-align : middle;
  display : -moz-inline-stack;
  display : inline-block;
}
.inforRadioButtonOffDisabled
{
  border : none;
  background : transparent url("../../images/btn_radio-off_disabled.png") no-repeat 8px 0px;
  font-family : Arial;
  font-weight : normal;
  font-size : 11px;
  color : #000000;
  height : 14px;
  width : 27px;
  vertical-align : middle;
  display : -moz-inline-stack;
  display : inline-block;
}