/* $Header: /cvs/cvs_archive/applications/webtier/webappjs/infor/css/base/inforTextbox.css,v 1.1.2.11.2.3 2014/01/10 14:29:53 brentd Exp $ */
/* $NoKeywords: $
 * LaVersion=8-)@(#)@10.00.05.00.12 Mon Mar 31 10:17:31 Central Daylight Time 2014 */
/***************************************************************
 *                                                             *
 *                           NOTICE                            *
 *                                                             *
 *   THIS SOFTWARE IS THE PROPERTY OF AND CONTAINS             *
 *   CONFIDENTIAL INFORMATION OF INFOR AND/OR ITS              *
 *   AFFILIATES OR SUBSIDIARIES AND SHALL NOT BE DISCLOSED     *
 *   WITHOUT PRIOR WRITTEN PERMISSION. LICENSED CUSTOMERS MAY  *
 *   COPY AND ADAPT THIS SOFTWARE FOR THEIR OWN USE IN         *
 *   ACCORDANCE WITH THE TERMS OF THEIR SOFTWARE LICENSE       *
 *   AGREEMENT. ALL OTHER RIGHTS RESERVED.                     *
 *                                                             *
 *   (c) COPYRIGHT 2014 INFOR.  ALL RIGHTS RESERVED.           *
 *   THE WORD AND DESIGN MARKS SET FORTH HEREIN ARE            *
 *   TRADEMARKS AND/OR REGISTERED TRADEMARKS OF INFOR          *
 *   AND/OR ITS AFFILIATES AND SUBSIDIARIES. ALL               *
 *   RIGHTS RESERVED.  ALL OTHER TRADEMARKS LISTED HEREIN ARE  *
 *   THE PROPERTY OF THEIR RESPECTIVE OWNERS.                  *
 *                                                             *
 ***************************************************************/
.inforTextboxLeft
{
  background : transparent url("../../images/field_regular-left.png") no-repeat center left;
  vertical-align : middle;
  margin-top : 1px;
  margin-bottom : 1px;  
  height : 20px;
  width : 2px;
  display : -moz-inline-stack;
  display : inline-block;
}
.inforTextboxRight
{
  background : transparent url("../../images/field_regular-right.png") no-repeat center right;
  vertical-align : middle;
  margin-top : 1px;
  margin-bottom : 1px;
  height : 20px;
  width : 2px;
  display : -moz-inline-stack;
  display : inline-block;
}
.inforTextbox
{
  border : none;
  background : transparent url("../../images/field_regular-center.png") repeat-x center center;
  vertical-align : middle;
  font-family : Arial;
  font-weight : normal;
  font-size : 11px;  
  height : 20px;
  margin : 0px;
  padding-left : 2px;
  padding-right : 2px; 
  padding-top : 2px; 
  padding-bottom : 2px;
  display : -moz-inline-stack;
  display : inline-block;
  -webkit-appearance : none;
  -webkit-border-radius : 0px;
}
.inforTextboxWrapper
{
  font-family : Arial;
  font-weight : normal;
  font-size : 11px;
  color : #000000;
  white-space : nowrap;
  display : -moz-inline-stack;
  display : inline-block;  
}
.inforTextboxError
{
  border : 1px solid #d24a00 !important;
  display : inline-block;
}	