/* $Header: /cvs/cvs_archive/applications/webtier/webappjs/infor/css/base/inforTabset.css,v 1.1.2.9.2.3 2014/01/10 14:29:53 brentd Exp $ */
/* $NoKeywords: $
 * LaVersion=8-)@(#)@10.00.05.00.12 Mon Mar 31 10:17:31 Central Daylight Time 2014 */
/***************************************************************
 *                                                             *
 *                           NOTICE                            *
 *                                                             *
 *   THIS SOFTWARE IS THE PROPERTY OF AND CONTAINS             *
 *   CONFIDENTIAL INFORMATION OF INFOR AND/OR ITS              *
 *   AFFILIATES OR SUBSIDIARIES AND SHALL NOT BE DISCLOSED     *
 *   WITHOUT PRIOR WRITTEN PERMISSION. LICENSED CUSTOMERS MAY  *
 *   COPY AND ADAPT THIS SOFTWARE FOR THEIR OWN USE IN         *
 *   ACCORDANCE WITH THE TERMS OF THEIR SOFTWARE LICENSE       *
 *   AGREEMENT. ALL OTHER RIGHTS RESERVED.                     *
 *                                                             *
 *   (c) COPYRIGHT 2014 INFOR.  ALL RIGHTS RESERVED.           *
 *   THE WORD AND DESIGN MARKS SET FORTH HEREIN ARE            *
 *   TRADEMARKS AND/OR REGISTERED TRADEMARKS OF INFOR          *
 *   AND/OR ITS AFFILIATES AND SUBSIDIARIES. ALL               *
 *   RIGHTS RESERVED.  ALL OTHER TRADEMARKS LISTED HEREIN ARE  *
 *   THE PROPERTY OF THEIR RESPECTIVE OWNERS.                  *
 *                                                             *
 ***************************************************************/
.inforTabContainer
{
  background : transparent url("../../images/bg_tab_inactiveBar_lft_7x22.png") no-repeat left top;
  padding : 0px;
  margin : 0px;
}
ul.inforTabset
{
  background : url("../../images/module_header_center_1x27.png") repeat-x;
  border-bottom : 1px solid #c7c7c8;
  list-style : none;
  margin : 0px 0px 0px -1px;
  padding : 0px;
  height : 21px;
  border-top: 1px solid #2a4e73;
  border-left: 1px solid #2a4e73;
  border-right: 1px solid #2a4e73;
}
ul.inforTabset li
{
  display : inline;
  padding : 0px;
}
ul.inforTabset li span.inforTabLeftActive
{
  background : transparent url("../../images/bg_tab_active_lft_7x22.png") no-repeat 0px 0px;
  height : 22px;
  width : 7px;
  float : left;
  display : -moz-inline-stack;
  display : inline-block;
}
ul.inforTabset li span.inforTabActive
{
  background : transparent url("../../images/bg_tab_active_ctr_1x22.png") repeat-x 0px 0px;
  color : #2a4e73;
  font-family : Arial;
  font-size : 11px;
  font-weight : bold;
  text-decoration : none;
  height : 22px;
  width : auto;
  padding : 3px 0px 0px 0px;
  float : left;
  white-space : nowrap;
  display : -moz-inline-stack;
  display : inline-block;
}
ul.inforTabset li span.inforTabRightActive
{
  background : transparent url("../../images/bg_tab_active_rt_7x22.png") no-repeat 0px 0px;
  height : 22px;
  width : 7px;
  float : left;
  margin-right : -1px;
  display : -moz-inline-stack;
  display : inline-block;
}
ul.inforTabset li span.inforTabLeft
{
  background : transparent url("../../images/bg_tab_inactiveBar_lft_7x22.png") no-repeat 0px 0px;
  height : 22px;
  width : 7px;
  float : left;
  display : -moz-inline-stack;
  display : inline-block;
}
ul.inforTabset li span.inforTab
{
  background : transparent url("../../images/bg_tab_inactiveBar_ctr_1x22.png") repeat-x 0px 0px;
  color : #ffffff;
  font-family : Arial;
  font-size : 11px;
  font-weight : bold;
  text-decoaration : none;
  height : 22px;
  width : auto;
  padding : 3px 0px 0px 0px;
  float : left;
  white-space : nowrap;
  display : -moz-inline-stack;
  display : inline-block;
}
ul.inforTabset li span.inforTabRight
{
  background : transparent url("../../images/bg_tab_inactiveBar_rt_7x22.png") no-repeat 0px 0px;
  height : 22px;
  width : 7px;
  float : left;
  margin-right : -1px;
  display : -moz-inline-stack;
  display : inline-block;
}
ul.inforTabset li span.inforTabLeftOver, ul.inforTabset li span.inforTabLeftActiveOver
{
  background : transparent url("../../images/bg_tab_over_lft_7x22.png") no-repeat 0px 0px;
  height : 22px;
  width : 7px;
  float : left;
  display : -moz-inline-stack;
  display : inline-block;
}
ul.inforTabset li span.inforTabOver, ul.inforTabset li span.inforTabActiveOver
{
  background : transparent url("../../images/bg_tab_over_ctr_1x22.png") repeat-x 0px 0px;
  color : #2a4e73;
  font-family : Arial;
  font-size : 11px;
  font-weight : bold;
  text-decoaration : none;
  height : 22px;
  width : auto;
  padding : 3px 0px 0px 0px;
  float : left;
  white-space : nowrap;
  display : -moz-inline-stack;
  display : inline-block;
}
ul.inforTabset li span.inforTabRightOver, ul.inforTabset li span.inforTabRightActiveOver
{
  background : transparent url("../../images/bg_tab_over_rt_7x22.png") no-repeat 0px 0px;
  height : 22px;
  width : 7px;
  float : left;
  margin-right : -1px;
  display : -moz-inline-stack;
  display : inline-block;
}
ul.inforTabset li span.inforTabSeparator
{
  float : left;
  border-right : 1px solid #ffffff;
  padding : 0px;
  margin : 2px 0px 2px 0px;
  height : 17px;
  width : 1px;
  display : -moz-inline-stack;
  display : inline-block;
}
ul.inforTabset a.inforTabLink
{
  border : none !important;
  float : left;
  padding :  0px 0px 0px 0px;
  color : #000000;
  font-family : Arial;
  font-size : 11px;
  font-weight : bold;
  text-decoration : none;
  white-space : nowrap;
  background : transparent;
  height : 17px;
  margin-top : 1px;
}
ul.inforTabset li span.inforTab a.inforTabLink
{
  border : none !important;
  float : left;
  padding :  0px 0px 0px 0px;
  color : #ffffff;
  font-family : Arial;
  font-size : 11px;
  font-weight : bold;
  text-decoration : none;
  white-space : nowrap;
  background : transparent;
  height : 17px;
  margin-top : 1px;
}
ul.inforTabset li span.inforTabActive a.inforTabLink
{
  border : none !important;
  float : left;
  padding :  0px 0px 0px 0px;
  color : #000000;
  font-family : Arial;
  font-size : 11px;
  font-weight : bold;
  text-decoration : none;
  white-space : nowrap;
  background : transparent;
  height : 17px;
  margin-top : 1px;
}
ul.inforTabset li a.inforTabLink:hover
{
  border : none !important;
  float : left;
  padding :  0px 0px 0px 0px;
  color : #2a4e73;
  font-family : Arial;
  font-size : 11px;
  font-weight : bold;
  text-decoration : none;
  white-space : nowrap;
  background : transparent;
  height : 17px;
  margin-top : 1px;
}
.inforTabContentActive
{
  background : #f1f1f1;
  color : #000000;
  font-family : Arial;
  font-size : 11px;
  font-weight : normal;
  display : block;
  height : 100%;
  overflow : auto;
  float : left;
  position : relative;
  top : 0px;
  border-bottom : 1px solid #c7c7c8;
  border-left : 1px solid #c7c7c8;
  border-right : 1px solid #c7c7c8;
  padding : 1px 7px;
  margin-top : -3px;
  width : 100%;
  scrollbar-base-color : #f0f0f0;
  scrollbar-shadow-color : #999999;
  scrollbar-darkshadow-color : #999999;
  scrollbar-arrow-color : #555555;
}
.inforTabContent
{
  background : #f1f1f1;
  color : #000000;
  font-family : Arial;
  font-size : 11px;
  font-weight : normal;
  display : none;
  height : 100%;
  float : left;
  position : relative;
  top : 0px;
  border-bottom : 1px solid #c7c7c8;
  border-left : 1px solid #c7c7c8;
  border-right : 1px solid #c7c7c8;
  padding : 1px 7px;
  margin-top : -3px;
}
