/* $Header: /cvs/cvs_archive/applications/webtier/webappjs/lds/css/base/expanderControlElement.css,v 1.2.2.4.2.2 2014/01/10 14:29:53 brentd Exp $ */
/* $NoKeywords: $
 * LaVersion=8-)@(#)@10.00.05.00.12 Mon Mar 31 10:17:31 Central Daylight Time 2014 */
/***************************************************************
 *                                                             *
 *                           NOTICE                            *
 *                                                             *
 *   THIS SOFTWARE IS THE PROPERTY OF AND CONTAINS             *
 *   CONFIDENTIAL INFORMATION OF INFOR AND/OR ITS              *
 *   AFFILIATES OR SUBSIDIARIES AND SHALL NOT BE DISCLOSED     *
 *   WITHOUT PRIOR WRITTEN PERMISSION. LICENSED CUSTOMERS MAY  *
 *   COPY AND ADAPT THIS SOFTWARE FOR THEIR OWN USE IN         *
 *   ACCORDANCE WITH THE TERMS OF THEIR SOFTWARE LICENSE       *
 *   AGREEMENT. ALL OTHER RIGHTS RESERVED.                     *
 *                                                             *
 *   (c) COPYRIGHT 2014 INFOR.  ALL RIGHTS RESERVED.           *
 *   THE WORD AND DESIGN MARKS SET FORTH HEREIN ARE            *
 *   TRADEMARKS AND/OR REGISTERED TRADEMARKS OF INFOR          *
 *   AND/OR ITS AFFILIATES AND SUBSIDIARIES. ALL               *
 *   RIGHTS RESERVED.  ALL OTHER TRADEMARKS LISTED HEREIN ARE  *
 *   THE PROPERTY OF THEIR RESPECTIVE OWNERS.                  *
 *                                                             *
 ***************************************************************/
 /* --- Expander controls --- */
 .expanderCollapsedStyler
 {
   background : transparent url("../../images/13_groupbox_btn_coll.png") no-repeat 0px 0px;
   color : #0065a4;
   font-family : Segoe UI,Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size : 12px;
   font-weight : bold;	
   height : 16px;
   padding-left : 21px;
   display : -moz-inline-stack;
   display : inline-block;
   cursor : default;
 }
 .expanderCollapsedHoverStyler
 {
   background : transparent url("../../images/13_groupbox_btn_coll_over.png") no-repeat 0px 0px;
   color : #0065a4;
   font-family : Segoe UI,Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size : 12px;
   font-weight : bold;	
   height : 16px;
   padding-left : 21px;
   display : -moz-inline-stack;
   display : inline-block;
   cursor : default;
 }
 .expanderCollapsedPressStyler
 {
   background : transparent url("../../images/13_groupbox_btn_coll_press.png") no-repeat 0px 0px;
   color : #0065a4;
   font-family : Segoe UI,Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size : 12px;
   font-weight : bold;	
   height : 16px;
   padding-left : 21px;
   display : -moz-inline-stack;
   display : inline-block;
   cursor : default;
 }
 .expanderExpandedStyler
 {
   background : transparent url("../../images/13_groupbox_btn_exp.png") no-repeat 0px 0px;
   color : #0065a4;
   font-family : Segoe UI,Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size : 12px;
   font-weight : bold;	
   height : 16px;
   padding-left : 21px;
   display : -moz-inline-stack;
   display : inline-block;
   cursor : default;
 }
 .expanderExpandedHoverStyler
 {
   background : transparent url("../../images/13_groupbox_btn_exp_over.png") no-repeat 0px 0px;
   color : #0065a4;
   font-family : Segoe UI,Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size : 12px;
   font-weight : bold;	
   height : 16px;
   padding-left : 21px;
   display : -moz-inline-stack;
   display : inline-block;
   cursor : default;
 }
 .expanderExpandedPressStyler
 {
   background : transparent url("../../images/13_groupbox_btn_exp_press.png") no-repeat 0px 0px;
   color : #0065a4;
   font-family : Segoe UI,Tahoma,Verdana,Arial,Helvetica,sans-serif;
   font-size : 12px;
   font-weight : bold;	
   height : 16px;
   padding-left : 21px;
   display : -moz-inline-stack;
   display : inline-block;
   cursor : default;
}
