/* $Header: /cvs/cvs_archive/LawsonPlatform/ui/portal/dropdown.css,v 1.10.2.2.4.1.24.2 2012/08/08 12:37:20 jomeli Exp $ */
/* $NoKeywords: $ */
/* LaVersion=8-)@(#)@9.0.1.11.231 2012-09-05 04:00:00 */
/*		*************************************************************** */
/*		*                                                             * */
/*		*                           NOTICE                            * */
/*		*                                                             * */
/*		*   THIS SOFTWARE IS THE PROPERTY OF AND CONTAINS             * */
/*		*   CONFIDENTIAL INFORMATION OF INFOR AND/OR ITS              * */
/*		*   AFFILIATES OR SUBSIDIARIES AND SHALL NOT BE DISCLOSED     * */
/*		*   WITHOUT PRIOR WRITTEN PERMISSION. LICENSED CUSTOMERS MAY  * */
/*		*   COPY AND ADAPT THIS SOFTWARE FOR THEIR OWN USE IN         * */
/*		*   ACCORDANCE WITH THE TERMS OF THEIR SOFTWARE LICENSE       * */
/*		*   AGREEMENT. ALL OTHER RIGHTS RESERVED.                     * */
/*		*                                                             * */
/*		*   (c) COPYRIGHT 2012 INFOR.  ALL RIGHTS RESERVED.           * */
/*		*   THE WORD AND DESIGN MARKS SET FORTH HEREIN ARE            * */
/*		*   TRADEMARKS AND/OR REGISTERED TRADEMARKS OF INFOR          * */
/*		*   AND/OR ITS AFFILIATES AND SUBSIDIARIES. ALL               * */
/*		*   RIGHTS RESERVED.  ALL OTHER TRADEMARKS LISTED HEREIN ARE  * */
/*		*   THE PROPERTY OF THEIR RESPECTIVE OWNERS.                  * */
/*		*                                                             * */
/*		*************************************************************** */ 
.contextMenu
{
	color: white;
	cursor: default;
	z-index: 3;
    background-color: lightgrey;
}
.contextMenuContainer
{
	color: white;
	cursor: default;
	z-index: 99;
    background-color: lightgrey;
	border-top: solid #EEEEEE 1px;
	border-bottom: solid #EEEEEE 1px;
	position: absolute;
	display: block;
}
.contextItemIE
{
	width: 100%;
	cursor: default;
    text-decoration: none;
    color: #000000;
    font-family: Lucida Sans Unicode, Tahoma, Arial, sans-serif;
    font-size: 8pt;
    height: 20px;
    background-color: transparent;
	border: 0px;
	padding-left: 7px;
	padding-right: 7px;
	text-align: left;
}
.contextItemHighlightIE
{
	width: 100%;
	cursor: default;
    text-decoration: none;
    color: #ffffff;
    font-family: Lucida Sans Unicode, Tahoma, Arial, sans-serif;
    font-size: 8pt;
    height: 20px;
    background-color: transparent;
	padding-left: 7px;
	padding-right: 7px;
	text-align: left;
	border: 0px;
}
.contextItemNS
{
	cursor: default;
    text-decoration: none;
    color: #000000;
    font-family: Lucida Sans Unicode, Tahoma, Arial, sans-serif;
    font-size: 8pt;
    height: 20px;
    background-color: transparent;
	border: 0px;
	text-align: left;
}
.contextItemHighlightNS
{
	cursor: default;
    text-decoration: none;
    color: #ffffff;
    font-family: Lucida Sans Unicode, Tahoma, Arial, sans-serif;
    font-size: 8pt;
    height: 20px;
    background-color: transparent;
	border: 0px;
	text-align: left;
}
.contextRow
{
    background-color: #FFFFFF;
	text-align: left;
}
.contextRowHighlight
{
    background-color: #9DC0E3;
	text-align: left;
}
.dropDownMenu
{
	color: white;
	cursor: default;
	font-family: Lucida Sans Unicode, Tahoma, Arial, sans-serif;
	font-size: 8pt;
	height: 0px;
	z-index: 3;
    background-color: lightgrey;
}
.dropDownMenuItem
{
    width:100%;
	cursor: default;
    text-decoration:none;
    visibility:visible;
    font-family: Lucida Sans Unicode, Tahoma, Arial, sans-serif;
    font-size: 8pt;
    height: 20px;
    padding-top: 1px;
    padding-left: 1px;
    color:#000000;
    background-color: #FFFFFF;
}
.dropDownMenuItemHighlight
{
    background-color: #9DC0E3;
    color: #ffffff;
    cursor: default;
    font-family: Lucida Sans Unicode, Tahoma, Arial, sans-serif;
    font-size: 8pt;
    height: 20px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 1px;
    padding-left: 1px;
    text-decoration: none;
    width: 100%;
}
.Calendar
{
	left:0;
    top:0;
    border-right: #004068 1px outset;
	padding-right: 1px;
	border-top: #004068 1px outset;
	display: block;
	padding-left: 1px;
	z-index: 3;
	background-image: none;
	visibility: visible;
	padding-bottom: 1px;
	font: 8pt Tahoma, Arial, sans-serif;
	overflow: hidden;
	border-left: #004068 1px outset;
	width: 230px;
	padding-top: 1px;
	border-bottom: #004068 1px outset;
	background-repeat: repeat;
	position: absolute;
	background-color:#6699CC;
	height:auto;
}
.CalHead
{
	width: 100%;
	height: 15pt;
	border: 1;
}
.CalWeek
{
	background-color:#6699CC;
	color:  white;
	cursor: default;
	border-bottom: black 1px solid;
	font-weight:bold;
    height:auto;
}
.CalBody
{
	width: 100%;
	border:1;
	background-color: #9DC0E3;
	color: black;
}
.CalMonth
{
	font: 10pt Tahoma, Arial, sans-serif;
	font-weight: bold;
	width: 80px;
	cursor: default;
	color: white;
}
.CalYear
{
	font: 10pt Tahoma, Arial, sans-serif;
	font-weight: bold;
	width: 60px;
	color:  white;
	cursor: default;
}
.CalButton
{
	color: white;
	height:11px;
	width:11px;
}
.NoDate
{
	background-color: #9DC0E3;
	font: 10pt Tahoma, Arial, sans-serif;
	width: 30px;
	height: 16px;
	position: relative;
	text-align: center;
	cursor: default;
}
.Date
{
	background: #9DC0E3;
	font: 8pt Tahoma, Arial, sans-serif;
	cursor: default;
	width: 30px;
	height: 16px;
	position: relative;
	text-align: center;
}
.SelDate
{
	border-right: #004068 1px solid;
	border-top: #004068 1px solid;
	border-bottom: #004068 1px solid;
	border-left: #004068 1px solid;
	font: 8pt Tahoma, Arial, sans-serif;
	font-weight: bold;
	width: 18px;
	height: 14px;
	color: black;
	position: relative;
	background-color:#F0F0E0;
	text-align: center;
	cursor: default;
}
