.button {
	background-color: #6699CC;
	font-family: Arial, Tahoma;
	font-size: 10pt;
	font-weight: bold;
	color:  white;
	text-align: center;
	padding: 0px;
	border-top:  1px solid  #C1CDCD;
	border-right:  1px solid  #C1CDCD;
	border-left:  1px solid  #C1CDCD;
	border-bottom:  1px solid  black;
	margin:  0px;
	cursor:  pointer;
	cursor:  hand;
	height:  20;
	top:  0;
}
