/* $Header: /cvs/cvs_archive/LawsonPlatform/ui/portal/admin/rolemgr/HotkeysTab.css,v 1.1.2.2.28.3 2012/08/08 12:37:29 jomeli Exp $ */
/* $NoKeywords: $ */
/* LaVersion=8-)@(#)@9.0.1.11.231 2012-09-05 04:00:00 */
/*		*************************************************************** */
/*		*                                                             * */
/*		*                           NOTICE                            * */
/*		*                                                             * */
/*		*   THIS SOFTWARE IS THE PROPERTY OF AND CONTAINS             * */
/*		*   CONFIDENTIAL INFORMATION OF INFOR AND/OR ITS              * */
/*		*   AFFILIATES OR SUBSIDIARIES AND SHALL NOT BE DISCLOSED     * */
/*		*   WITHOUT PRIOR WRITTEN PERMISSION. LICENSED CUSTOMERS MAY  * */
/*		*   COPY AND ADAPT THIS SOFTWARE FOR THEIR OWN USE IN         * */
/*		*   ACCORDANCE WITH THE TERMS OF THEIR SOFTWARE LICENSE       * */
/*		*   AGREEMENT. ALL OTHER RIGHTS RESERVED.                     * */
/*		*                                                             * */
/*		*   (c) COPYRIGHT 2012 INFOR.  ALL RIGHTS RESERVED.           * */
/*		*   THE WORD AND DESIGN MARKS SET FORTH HEREIN ARE            * */
/*		*   TRADEMARKS AND/OR REGISTERED TRADEMARKS OF INFOR          * */
/*		*   AND/OR ITS AFFILIATES AND SUBSIDIARIES. ALL               * */
/*		*   RIGHTS RESERVED.  ALL OTHER TRADEMARKS LISTED HEREIN ARE  * */
/*		*   THE PROPERTY OF THEIR RESPECTIVE OWNERS.                  * */
/*		*                                                             * */
/*		*************************************************************** */ 
.keyButton
{
    font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
    background-color:threedface;
    color:blue;
    border-color:threedhighlight threedshadow threedshadow threedhighlight;
    border-width:1px;
    border-style:solid;
    padding:1px;
    cursor:hand;
	height: 30px;
	width: 30px;
	margin: 0px;
}
.keyButtonDisabled
{
    font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
    background-color:darkgrey;
    color:blue;
    border-color:threedhighlight threedshadow threedshadow threedhighlight;
    border-width:1px;
    border-style:solid;
    padding:1px;
    cursor:hand;
	height: 30px;
	width: 30px;
	margin: 0px;
}
.keyButtonDown
{
    font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
    background-color:threedface;
    color:blue;
    border-color:threedshadow threedhighlight threedhighlight threedshadow;
    border-width:1px;
    border-style:solid;
    padding:1px;
    cursor:hand;
	height: 30px;
	width: 30px;
	margin: 0px;
}
.keyButtonOver
{
    font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
    background-color:threedface;
    color:blue;
    border-color:threedhighlight threedshadow threedshadow threedhighlight;
    border-width:1px;
    border-style:solid;
    padding:1px;
    cursor:hand;
	height: 30px;
	width: 30px;
	margin: 0px;
}

button#UpArrow
{
        background-image: url('../../images/ico_arrow_up.gif');
        background-position: center center;
        background-repeat: no-repeat;
}

button#DownArrow
{
        background-image: url('../../images/ico_arrow_down.gif');
        background-position: center center;
        background-repeat: no-repeat;
}

button#LeftArrow
{
        background-image: url('../../images/ico_arrow_left.gif');
        background-position: center center;
        background-repeat: no-repeat;
}

button#RightArrow
{
        background-image: url('../../images/ico_arrow_right.gif');
        background-position: center center;
        background-repeat: no-repeat;
}