/* $Header: /cvs/cvs_archive/LawsonPlatform/ui/portal/pages/pages.css,v 1.7.4.1.28.2 2012/08/08 12:37:25 jomeli Exp $ */
/* $NoKeywords: $ */
/* LaVersion=8-)@(#)@9.0.1.11.231 2012-09-05 04:00:00 */
/*		*************************************************************** */
/*		*                                                             * */
/*		*                           NOTICE                            * */
/*		*                                                             * */
/*		*   THIS SOFTWARE IS THE PROPERTY OF AND CONTAINS             * */
/*		*   CONFIDENTIAL INFORMATION OF INFOR AND/OR ITS              * */
/*		*   AFFILIATES OR SUBSIDIARIES AND SHALL NOT BE DISCLOSED     * */
/*		*   WITHOUT PRIOR WRITTEN PERMISSION. LICENSED CUSTOMERS MAY  * */
/*		*   COPY AND ADAPT THIS SOFTWARE FOR THEIR OWN USE IN         * */
/*		*   ACCORDANCE WITH THE TERMS OF THEIR SOFTWARE LICENSE       * */
/*		*   AGREEMENT. ALL OTHER RIGHTS RESERVED.                     * */
/*		*                                                             * */
/*		*   (c) COPYRIGHT 2012 INFOR.  ALL RIGHTS RESERVED.           * */
/*		*   THE WORD AND DESIGN MARKS SET FORTH HEREIN ARE            * */
/*		*   TRADEMARKS AND/OR REGISTERED TRADEMARKS OF INFOR          * */
/*		*   AND/OR ITS AFFILIATES AND SUBSIDIARIES. ALL               * */
/*		*   RIGHTS RESERVED.  ALL OTHER TRADEMARKS LISTED HEREIN ARE  * */
/*		*   THE PROPERTY OF THEIR RESPECTIVE OWNERS.                  * */
/*		*                                                             * */
/*		*************************************************************** */ 
v\:* { behavior: url(#default#VML); }
BODY
{
	background-color:white;
	font-family:Tahoma, Arial, sans-serif;
	font-weight:normal;
	font-size:10pt;
	height: 100%;
	margin: 0px;
	width: 100%;
}
.Message
{
	font-family:Tahoma, Arial, sans-serif;
	font-size:10pt;
	text-align:left;
	width:100%;
	cursor:default;
}
.TitleBar
{
	font-family:Tahoma, Arial, sans-serif;
	font-size:8pt;
	font-weight:bold;
	background-color:#6699CC;
	color:#ffffff;
	padding-left:4px;
	padding-top:1px;
	overflow:hidden;
	border:0px;
}
.TitleBarFill
{
	background-color:#6699CC;
}
.TextObject
{
	cursor:default;
	border:1px solid #006699;
	overflow:hidden;
}
.HTMObject
{
	border:1px solid #006699;
	overflow:hidden;
}
.ImageObject
{
	border:1px solid #006699;
	overflow:hidden;
}
.ReportObject
{
	border:1px solid #006699;
	overflow:auto;
}
.ReportCaption
{
	color: black;
	font-size: 8pt;
	font-weight:bold;
	font-family: Arial;
	cursor:default;
}
.ReportAction
{
	cursor:pointer;
	cursor:hand;
}
.ReportName
{
	font-size:8pt;
	text-decoration:underline;
	cursor:pointer;
	cursor:hand;
}
.ReportDesc
{
	font-size:8pt;
	cursor:default;
}
.RSSObject
{
	border:1px solid #006699;
	overflow:hidden;
}
.RSSLink
{
	background-color: transparent;
	font-family: arial;
	font-size: 8pt;
	padding: 1px;
	border: 0px;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}
.FormObject
{
	border:1px solid #006699;
}
.WebPageObject
{
	border:1px solid #006699;
	overflow:hidden;
}
.DMEObject
{
	border:1px solid #006699;
	overflow:hidden;
}
.DMECol
{
	color: black;
	font-size: 8pt;
	font-family: Arial;
}
.DMEButton
{
	background-color: transparent;
	color: blue;
	font-family: arial;
	font-size: 8pt;
	padding: 1px;
	border: 0px;
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
	height: 20px;
}
.DMECurrentRow
{
	background-color: #E1D5B0;
	width: 100%;
}
.AGSObject
{
	border:1px solid #006699;
	overflow:hidden;
}
